.commentBox {
  display: flex;
  justify-content: space-around;
}
.commentList {
  display: none;
}
.pagination {
  /* border: 1px solid rgb(143, 140, 140); */

  display: flex;
  list-style: none;
  padding: 0;
  margin-bottom: 10%;
}
.pagination li {
  border: 1px solid rgb(143, 140, 140);
  border-radius: 2px;
  padding: 10px;
  cursor: pointer;
}
.active {
  background-color: rgb(50, 50, 131);
}
.activeAlink {
  color: wheat;
  font-weight: bold;
}
.break-me {
  /* background-color: brown; */
}
.no-data-div {
  display: flex;
  justify-content: space-around;
  align-content: center;
  margin-top: 5%;
}
.no-data-div button {
  align-self: center;
}
