.display-issue-card {
  display: flex;
  margin-top: 20px;

  flex-wrap: wrap;
}
.display-issue-image {
  width: 8%;
}
.display-issue-img {
  border-radius: 9px;
  height: 50px;
  width: 50px;
}
.display-issue-parent {
  width: 90%;
  border: 1px solid #d1d5da;
  border-radius: 5px;
}
.display-issue-title {
  background-color: #f6f8fa;
}
.display-issue-list {
  margin-left: 10%;
  margin-right: 15%;
}
.issue-topic {
  font-size: 28px;
  font-weight: bold;
}
.issue-topic-id {
  font-size: 28px;
  color: grey;
}
.display-issue-component {
  margin: 5% 8% 2% 8%;
}
.author {
  font-weight: bold;
}
.display-issue-title {
  color: grey;
  font-size: 12px;
}
.input-for-comment {
  width: 100%;
  height: 50px;
  border-radius: 5px;
}
.input-comment-div {
  width: 92%;
}
.issue-but {
  padding: 3px;
  background-color: green;
  border-radius: 3px;
  border: none;
  outline: none;
  cursor: pointer;
  color: white;
}
.octicon {
  fill: white;
  /* color: red; */
}
.but-text {
  margin-left: 4px;
  font-weight: bold;
  color: white;
  font-size: 13px;
  vertical-align: center;
}
.issue-head {
  font-size: 13px;
  color: grey;
}

.x {
  float: right;
  clear: both;
  display: block;
  cursor: pointer;
  background-color: rgb(202, 2, 2);
  border-radius: 3px;
}
.x-span {
  padding: 5px;
  color: wheat;
}
