.header-child-one {
  background-color: #24292e;
  height: 75px;
  display: flex;
  justify-content: flex-end;
  align-content: center;
}
.user-name {
  /* background-color: #949596; */
  outline: none;
  border: none;
  height: 40px;
  float: right;
  margin-right: 5%;
  margin-top: 15px;
  border-radius: 5px;
  min-width: 40px;
  align-self: center;
  color: #fafbfc;
}

.header-child-one input {
  background-color: #4f5357;
  outline: none;
  border: none;
  height: 40px;
  float: right;
  margin-right: 5%;
  margin-top: 15px;
  border-radius: 5px;
  min-width: 250px;
}
.header-child-one input:valid {
  background-color: black;
  color: white;
}
.header-child-one input::placeholder {
  color: #bdbec0;
  text-align: center;
}

.header-child-one input:focus {
  background-color: white;
  color: black;
}
.header-child-two {
  background-color: #fafbfc;
  height: 55px;
  display: flex;
  justify-content: left;
  align-content: flex-end;
  padding-left: 2%;
  /* align-self: baseline; */
}
.freecodecamp {
  color: blue;
  font-weight: bold;
}
.child-two {
  align-self: baseline;
  margin-top: auto;
}
.header-child-three {
  background-color: #fafbfc;
  height: 45px;
  position: relative;
  border-bottom: 1px solid grey;
  padding-bottom: 0;
}
.issuenum {
  position: absolute;
  margin-left: 15%;
  background: white;
  padding: 10px;
  outline: none;
  border: none;
  border-top: 3px solid #e36209;
  border-radius: 2px;
  border-left: 1px solid grey;
  border-right: 1px solid grey;

  bottom: -1px;

  z-index: 1;
}
