.bodyhead {
  border-bottom: 1px solid #d1d5da;
  height: 49px;
  background-color: #fafbfc;
  display: flex;
  justify-content: space-around;
}

.bodyissue {
  /* display: flex;
  justify-content: space-between; */
}
.issue-head {
  font-weight: bold;
  color: #292b2c;
  text-decoration: none;
  list-style: none;
}
.issueopen {
  width: 20%;
}

.issues {
  background-color: white;
  border-bottom: 1px solid #d1d5da;
  display: flex;
  /* justify-content: space-between; */
}
.issues:hover {
  background-color: #fafbfc;
}
.issue-open-img {
  margin-right: 10px;
  margin-left: 10px;
}
.open-issue-image {
  width: 5%;
}
.comment-text {
  width: 90%;
}
.comment-num {
  width: 5%;
}

.labels {
  display: inline-block;
  font-weight: bold;
  color: black;
  margin-right: 7px;
  border-radius: 3px;
  margin-left: 7px;
  cursor: pointer;
  font-size: 10px;
}
.extra-info {
  font-size: 12px;
  color: #586069;
  padding-left: 20px;
}
.operations {
  width: 80%;
  display: flex;
  justify-content: space-around;
}
.search-bar {
  display: flex;
  justify-content: space-around;
  align-self: center;
  height: 5%;
}

/* .search-bar input:focus {
  background-color: #595b5e;
}
.search-bar input::placeholder {
  color: rgba(30, 39, 29, 0.555);
}
.search-bar input:empty {
  background-color: white;
  color: red;
}
.search-bar input:not(:empty) {
  background-color: blue;
  color: blue;
}
 */
.filter {
  width: 120px;
}
.sort {
  display: flex;
  align-content: center;
  vertical-align: center;
}

.sort select {
  border: none;
  outline: none;
  background-color: #fafbfc;
  color: grey;
  text-align: center;
}
.sort select::-ms-expand {
  display: none;
}
.sort select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";
}
.sort-opt {
  padding: 5px 4px;
  font-size: 12px;
  color: black;
}
.search-bar-input {
  background-color: #d6d3d3;
  color: #292b2c;
  height: 30px;
  /* width: 5%; */
  max-width: 250px;
  border-radius: 5px;
  text-align: center;

  outline: none;
}

.search-bar input:focus {
  background-color: white;
}

.bodycomponent {
  border: 1px solid grey;
  margin: 5% 8% 7% 8%;
  border-radius: 4px;
}
.bodycomponent-parent {
  margin-top: 5%;
}
/*
width: 146px;

font-size: 11px;

outline: none;

border: none;
*/
.bodyhead select {
  cursor: pointer;
}
.cursor:hover {
  cursor: pointer;
}
